{% extends 'main/layout.html' %}

{% block title %}
    <title>Producers</title>
{% endblock %}

{% block content %}
    <h1>Виробники</h1><br>
    <a href="{% url 'producer_create' %}">Додати виробника</a><br><br>

    {% for producer in producers %}
    <div>
        <h3>{{producer.title}}</h3>

        <a href="{% url 'producer_detail' producer_id=producer.id %}">Детальніше</a>
        <br>
        <br>
    </div>
    {% endfor %}

    <a href="{% url 'save_producers_to_file' %}">Створити резервну копію таблиці виробників</a><br>
    <a href="{% url 'load_producers_from_file' %}">Завантажити дані виробників з резервного файлу</a><br><br>

    <a href="{% url 'show_index' %}">Назад</a>
{% endblock %}