{% extends 'main/layout.html' %}

{% block title %}
    <title>Shop</title>
{% endblock %}

{% block content %}
    <h1>Магазин</h1><br>
    {% for product in products %}
    <div>
        <h3>{{product.title}}</h3>
        <h6>Категорія: {{product.category}}</h6>
        <h6>Ціна: {{product.price}}</h6>
        <h6>Виробник: {{product.producer}}</h6>
        <h6>Опис: {{product.description}}</h6>
        <h6>Є в наявності: {{product.amount}}</h6><br>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit">Купити</button>
        </form>
        <br>
        <br>
    </div>
    {% endfor %}

    <a href="{% url 'user_menu' user_id=user_id %}">Назад</a>
{% endblock %}
