{% extends 'main/layout.html' %}

{% block title %}
    <title>Shop</title>
{% endblock %}

{% block content %}
    <h1>Магазин</h1>
    <h3>Доступні товари</h3><br>
    {% for product in products %}
    <div>
        <h4>{{product.title}}</h4>
        <h6>Категорія: {{product.category}}</h6>
        <h6>Ціна: {{product.price}}</h6>
        <h6>Виробник: {{product.producer}}</h6>
        <h6>Опис: {{product.description}}</h6>
        <h6>Є в наявності: {{product.amount}}</h6><br>
    </div>
    {% endfor %}

    <a href="{% url 'user_menu' %}">Назад</a>
{% endblock %}
